body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Lucida Console', cursive;
  background: url(startup.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  justify-content: center;
}

h1 {
  font-size: 3rem;
  color: floralwhite ;
}

hr {
  margin: 20px auto;
  color: black;
  border: 3px solid black;
  max-width: 65px;
  opacity: 1;  
}

.buffer {
  height: 10rem;
}



.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-primary {
  background-color:lightpink;
  border-color: ;
}
.btn-primary: hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 4px;
}

.btn-primary {  
  background-color: black;  
  border-color: black;  
  --bs-btn-hover-bg: black; 
  --bs-btn-hover-border-color: black;
}




.btn-xl {
  padding: 1rem 2rem ;
}


